*.cache
*.il
[Bb]in/
[Oo]bj/
*.user
*.ncb
*.sdf
*.opensdf
*.suo
ipch/

*.scc
*.vssscc
*ReSharper*
src/Macrowing.Portal/log/*
.svn/

*~
*.dat
deploy
deploy/*

[Tt]est[Rr]esult.xml
IntegrationTests.VisualState.xml

UpgradeLog.XML
*_UpgradeReport_Files/


Thumbs.db
src/.localhistory/*
src/Macrowing.Portal.Platform.Plugin.SetUserStatus/*
src/Macrowing.Portal/log/*
src/Macrowing.Portal/Uploadfile/Extends/*
src/Macrowing.Portal/Uploadfile/Layouts/*
src/Macrowing.Portal/Uploadfile/Mobile/*
src/Macrowing.Portal/Uploadfile/Plugins/*
src/Macrowing.Portal/Uploadfile/Temp/*
src/Macrowing.Portal/Uploadfile/Template/*
src/Macrowing.Portal/Uploadfile/*
*.ReSharper.user
*.cmd

*.[Rr][Aa][Rr]
*.[Mm][Ss][Ii]
*/*.[Rr][Aa][Rr]
*/*.[Mm][Ss][Ii]

_ReSharper.Macrowing.Portal/*
build/
src/node_modules/*
src/Macrowing.Portal.Uploadfile/Skins/node_modules/*

src/Macrowing.Portal.Uploadfile/Skins/.sass-cache/*
src/Macrowing.Portal.Uploadfile/Skins/default/.sass-cache/*
src/Macrowing.Portal.Uploadfile/Skins/.idea/*
src/.sass-cache/*
